:root {
  --primary-color: #4CAF50;
  --secondary-color: #3E4E5E;
  --background-color: #F5F5F5;
  --text-color: #3E4E5E;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.spinner-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #007BFF; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.responseMessage {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: red; /* Use green or any color for success if needed */
  text-align: center; /* Center-aligns the message */
}